@use "sass:math";
@use "sass:color";
@use "variables" as *;
@use "mixins" as *;

.header {
	padding: 1.5rem 0 1.25rem;
	background: #fff;
	position: relative;
	z-index: $ui-index-5;
	body:not(.init-app) & {
		height: rem(162);
		overflow: hidden;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;

		z-index: 3;
	}
	// .header__container
	&__container {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: calc(100% + 1.75rem);
			left: 0;
			width: 100%;
			height: 1.5rem;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.9) 82.5%);
			z-index: 3;
			pointer-events: none;
		}
		padding: 0 1.5rem;
	}
	// .header__top
	&__top {
		position: relative;
		z-index: 3;
		display: flex;
		gap: 0.75rem;
	}
	// .header__users
	&__users {
		flex: 1 1 auto;
	}
	// .header__add
	&__add {
		&:active {
			transform: scale(math.div(48, 52));
		}
		&.active {
			&::before {
				transform: translate(-50%, -50%) rotate(90deg);
				opacity: 0;
			}
			&::after {
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: rem(1.5);
			background: $secondary;
			transition: transform 0.1s ease-out 0.1s, opacity 0.1s ease-out 0.1s;
		}
		&::before {
			height: rem(1.5);
			width: rem(14);
		}
		&::after {
			height: rem(14);
			width: rem(1.5);
		}
	}
	// .header__sort
	&__sort {
		grid-template-columns: repeat(2, 1fr);
		gap: 0.75rem;
		transition: height 0.3s $gentle-easing 0.2s, opacity 0.2s ease-in-out 0.2s, margin-top 0.3s $gentle-easing 0.2s;
		height: 0;
		overflow: hidden;
		opacity: 0;
		display: grid;
		position: relative;
		z-index: 3;
		&.active {
			margin-top: 0.75rem;
			opacity: 1;
			height: rem(128);
		}
	}
	// .header__sort-btn
	&__sort-btn {
		font-weight: 400;
		color: rgba(8, 8, 26, 0.36);
		&:last-child {
			grid-column: span 2;
			&:active {
				transform: scale(0.976);
			}
		}
		&.selected {
			color: $text;
			justify-content: space-between;
			padding-inline: 1rem;
			& svg {
				width: 1rem;
				height: 1rem;
			}
		}
	}
	// .header__bottom
	&__bottom {
		margin-top: 1.25rem;
		padding: 0 0.25rem;
		display: flex;
		align-items: center;
		&.open-search {
			.header__filter,
			.header__categories {
				margin-left: -100vw;
			}
			.header__search {
				width: 100%;
				.header__search-btn {
					display: none;
				}
				.header__search-back {
					display: block;
				}
				.form__control {
					display: block;
				}
			}
		}
		&.open-categories {
			.header__search-btn {
				transform: scale(0);
			}
			.header__categories-close {
				transform: scale(1);
			}
			.header__categories-btn {
				.header__categories-down {
					transform: rotate(180deg);
				}
			}
			.header__categories-body {
				transform: none;
				transition: transform 0.3s ease;
			}
		}
	}
	// .header__filter
	&__filter {
		position: relative;
		z-index: 3;
		transition: margin-left 0.3s ease;
	}
	// .header__categories
	&__categories {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: margin-left 0.3s ease;
	}
	// .header__categories-btn
	&__categories-btn {
		width: 100%;
		gap: 0.25rem;
		position: relative;
		z-index: 3;
		max-width: rem(142);
		margin: 0 auto;
		border-radius: 2.5rem;
		&.has-quantity {
			.header__categories-down {
				margin-top: rem(-22);
			}
		}
	}
	// .header__categories-btn-actions
	&__categories-btn-actions {
		width: rem(22);
		height: rem(22);
		flex-shrink: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	// .header__categories-down
	&__categories-down {
		transition: transform 0.21s ease-in-out, margin-top 0.21s ease-in-out;
		width: rem(22);
		height: rem(22);
		flex-shrink: 0;
		&.active {
			transform: rotate(180deg);
		}
	}
	// .header__categories-quantity
	&__categories-quantity {
		border-radius: 50%;
		background: $accent;
		color: #fff;
		width: rem(22);
		height: rem(22);
		justify-content: center;
		align-items: center;
		font-size: 0.8125rem;
		line-height: 138.462%;
		display: flex;
		flex-shrink: 0;
	}
	// .header__categories-body
	&__categories-body {
		position: absolute;
		top: calc(100% + rem(28));
		left: 0;
		width: 100%;
		height: calc(100svh - 100% - rem(28));
		background: #fff;
		z-index: 2;
		padding: 1.5rem 1.5rem 7.5rem;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		transform: translateY(calc(-100% - rem(30)));
		transition: transform 0.3s ease 0.3s;
	}
	// .header__categories-close
	&__categories-close {
		position: absolute;
		top: 0;
		left: 0;
		width: 2.5rem;
		height: 2.5rem;
		transform: scale(0);
		z-index: 3;
		transition: color 0.3s ease, transform 0.3s ease;
		&:hover,
		&:active {
			color: $red-700;
		}
		body:not(.init-app) & {
			display: none;
		}
	}
	// .header__categories-list
	&__categories-list {
		display: flex;
		flex-wrap: wrap;
		gap: 0.75rem;
	}
	// .header__categories-item
	&__categories-item {
	}
	// .header__categories-reset
	&__categories-reset {
		position: absolute;
		bottom: 3rem;
		right: 1rem;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s $quick-easing, visibility 0.3s $quick-easing, transform 0.3s $quick-easing;
		transform: scale(0.25);
		&.visible {
			.header__bottom.open-categories & {
				opacity: 1;
				visibility: visible;
				transform: scale(1);
			}
		}

		.ripple {
			display: none;
		}

		body:not(.init-app) & {
			display: none;
		}
	}
	// .header__search
	&__search {
		position: relative;
		z-index: 3;
		display: flex;
		align-items: center;
		width: 2.5rem;
		overflow: hidden;
		transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1), transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
		.form__control {
			text-overflow: ellipsis;
			height: rem(44);
			padding-right: rem(44);
			display: none;
		}
	}
	// .header__search-back
	&__search-back {
		display: none;
	}
	// .header__search-reset
	&__search-reset {
		position: absolute;
		top: 50%;
		right: 1rem;
		width: rem(24);
		height: rem(24);
		min-height: 0;
		border-radius: 50%;
		background: transparent;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 3;
		color: $secondary;
		& svg {
			width: rem(20);
			height: rem(20);
			position: static;
		}
		transform: scale(0) translateY(-50%);
		transform-origin: top center;
		&.visible {
			.header__bottom.open-search & {
				transform: scale(1) translateY(-50%);
			}
		}
	}
	// .header__search-input
	&__search-input {
	}
	// .header__search-btn
	&__search-btn {
	}
	// .header__search-body
	&__search-body {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: calc(100vh - 100%);
		background: #fff;
		z-index: 2;
		padding: 0 1.5rem;
		overflow-y: auto;
		&.active {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1rem;
		}
	}
}
