@use "sass:math";
@use "sass:color";
@use "variables" as *;
@use "mixins" as *;

.header {
	padding: 1.5rem 0 1.25rem;
	background: #fff;
	// .header__container
	&__container {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 1.5rem;
			background: linear-gradient(180deg, #fff, transparent);
			z-index: 3;
			pointer-events: none;
		}
		padding: 0 1.5rem;
	}
	// .header__top
	&__top {
		display: flex;
		gap: 0.75rem;
	}
	// .header__users
	&__users {
		flex: 1 1 auto;
	}
	// .header__add
	&__add {
		&:active {
			transform: scale(math.div(48, 52));
		}
		&.active {
			&::before {
				transform: translate(-50%, -50%) rotate(90deg);
				opacity: 0;
			}
			&::after {
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: rem(1.5);
			background: $secondary;
			transition: transform 0.1s ease-out 0.1s, opacity 0.1s ease-out 0.1s;
		}
		&::before {
			height: rem(1.5);
			width: rem(14);
		}
		&::after {
			height: rem(14);
			width: rem(1.5);
		}
	}
	// .header__sort
	&__sort {
		grid-template-columns: repeat(2, 1fr);
		gap: 0.75rem;
		transition: height 0.3s $gentle-easing, opacity 0.2s ease-in-out, margin-top 0.3s $gentle-easing;
		height: 0;
		overflow: hidden;
		opacity: 0;
		display: grid;
		&.active {
			margin-top: 0.75rem;
			opacity: 1;
			height: rem(128);
		}
	}
	// .header__sort-btn
	&__sort-btn {
		font-weight: 400;
		color: rgba(8, 8, 26, 0.36);
		&:last-child {
			grid-column: span 2;
		}
		&.selected {
			color: $text;
			justify-content: space-between;
			padding-inline: 1rem;
			& svg {
				width: 1rem;
				height: 1rem;
			}
		}
	}
	// .header__bottom
	&__bottom {
		margin-top: 1.25rem;
		padding: 0 0.25rem;
		display: flex;
		align-items: center;
	}
	// .header__filter
	&__filter {
	}
	// .header__categories
	&__categories {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__categories-btn
	&__categories-btn {
		width: 100%;
		gap: 0.25rem;
	}
	// .header__categories-down
	&__categories-down {
		transition: transform 0.3s ease;
		&.active {
			transform: rotate(180deg);
		}
	}
	// .header__categories-quantity
	&__categories-quantity {
		border-radius: 50%;
		background: $accent;
		color: #fff;
		width: 1.375rem;
		height: 1.375rem;
		justify-content: center;
		align-items: center;
		font-size: 0.8125rem;
		line-height: 138.462%;
		display: none;
		&.active {
			display: flex;
		}
	}
	// .header__categories-body
	&__categories-body {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: calc(100vh - 100%);
		background: #fff;
		z-index: 2;
		padding: 1.5rem 1.5rem 7.5rem;
		overflow-y: auto;
		&.active {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}
	// .header__categories-close
	&__categories-close {
		transition: color 0.3s ease;
		&:hover,
		&:active {
			color: $red-700;
		}
	}
	// .header__categories-list
	&__categories-list {
		display: flex;
		flex-wrap: wrap;
		gap: 0.75rem;
	}
	// .header__categories-item
	&__categories-item {
	}
	// .header__categories-reset
	&__categories-reset {
		position: fixed;
		bottom: 1rem;
	}
	// .header__search
	&__search {
		display: flex;
		align-items: center;
		&.active {
			width: 100%;
			.header__search-btn {
				display: none;
			}
			.header__search-back {
				display: block;
			}
			.form__control {
				display: block;
			}
		}
		.form__control {
			display: none;
		}
	}
	// .header__search-back
	&__search-back {
		display: none;
	}
	// .header__search-input
	&__search-input {
	}
	// .header__search-btn
	&__search-btn {
	}
	// .header__search-body
	&__search-body {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: calc(100vh - 100%);
		background: #fff;
		z-index: 2;
		padding: 0 1.5rem;
		overflow-y: auto;
		&.active {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1rem;
		}
	}
}
